{% extends 'app_base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/app_passwordLab.css' %}">
{% endblock css %}

{% block main %}
<!-- main -->
<div class="passwordLab">
  <div class="passwordDisplay">
    <h1 id="setPass">SUPER_STRONG_PASSWORD</h1>
  </div>
  <div class="passwordSettings">
    <form method="POST" class="settings">
      {% csrf_token %}
      <div class="setting">
        <h2>Length: <span id="lengthValue"></span></h2>
        <input type="range" min="16" max="32" value="16" id="myRange" />
      </div>
      <div class="setting">
        <h2>Include special symbols</h2>
        <input type="checkbox" name="symbols" id="symbols" value="off" />
      </div>
      <div class="setting">
        <h2>Include numbers</h2>
        <input type="checkbox" name="numbers" id="numbers" value="off" />
      </div>
      <div class="setting">
        <h2>Include both case</h2>
        <input type="checkbox" name="case" id="symbolCase" value="off" />
      </div>
    </form>

    <div class="btns" id="btns">
      <div class="btn" id="resetBtn">Reset</div>
      <div class="btn" id="generateBtn">Generate</div>
    </div>
  </div>
</div>
<!-- Overlay -->
<div id="overlay_ID" class="overlay hidden"></div>
{% endblock main %} 

{% block script %} 
<script src="{% static 'js/app_passwordLab.js' %}"></script>
{% endblock script %}
