{% extends 'app_base.html' %} 
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'css/app_passwords.css' %}" />
{% endblock css %} 
{% block main %}
<div class="display">
  <div class="title">
    <h2 class="title_text">All your passwords are present here</h2>
    <!-- Add button -->
    <div id="addBtn"><i class="fas fa-plus-circle"></i>Add</div>
  </div>
  <hr />
  <div class="passwordDisplay">
    <!-- Dynamic box -->
    <div id="cardBox">
      <!-- Dynamic cards -->
      {% for i in passwords %} 
      <div class="card">
        <a href="{{ i.1 }}" target="_blank" class="cardFaceBox {{ i.4 }}">{{ i.0 }}</a>
        <!-- <div class="cardFaceBox {{ i.4 }}"></div> -->
        <div class="cardDetailsBox">
          <h3 class="cardDetail">Login: {{ i.2 }}</h3>
          <h3 class="cardDetail">Category: {{ i.4 }}</h3>
          <h3 class="cardDetail">Last Updated: {{ i.5 }}</h3>
        </div>
      </div>
      {% endfor %}
      
    </div>
  </div>
</div>
<!-- Overlay -->
<div id="overlay_ID" class="overlay hidden"></div>
<div id="addBox_ID" class="addBox hidden">
  <h2 class="title_text">Add a password</h2>
  <div class="addFields">
    <form action="js_requests/add_password" method="post" id="addPassForm">
      {% csrf_token %}
      <div class="formField">
        <h2>SITE</h2>
        <input type="text" placeholder="Site" autocomplete="off" name="site"/>
      </div>
      <div class="formField">
        <h2>URL</h2>
        <input type="text" placeholder="Url" autocomplete="off" name="url"/>
      </div>
      <div class="formField">
        <h2>LOGIN</h2>
        <input type="text" placeholder="Login" autocomplete="off" name="login"/>
      </div>
      <div class="formField">
        <h2>PASSWORD</h2>
        <input type="password" placeholder="Password" name="password"/>
      </div>
      <div class="formField">
        <h2>CATEGORY</h2>
        <select id="categories" name="category">
          <option value="other">Other</option>
          <option value="career">Career</option>
          <option value="business">Business</option>
          <option value="finance">Finance</option>
          <option value="travel">Travel</option>
          <option value="shopping">Shopping</option>
          <option value="entertainment">Entertainment</option>
          <option value="social">Social Media</option>
        </select>
      </div>
      <div class="btns">
        <div class="btn" id="cancelBtn">CANCEL</div>
        <input type="submit" class="btn" id="saveBtn">
      </div>
    </form>
  </div>
</div>
{% endblock main %} 

{% block script %}
<script src="{% static 'js/app_passwords.js' %}"></script>
{% endblock script %}
