{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PASSWORD VAULT</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    {% block css %} 
    
    {% endblock css %}
    <link rel="stylesheet" href="{% static 'css/app_base.css' %}" />
  </head>
  <body>
    <!-- vertical navbar -->
    <nav>
      <div class="logo" onclick="window.location = '/app';">Password VAULT</div>
      <div class="nav_menuItemBOX">
        <a class="nav_menuItem {% if request.path == '/app/passwordLab' %}active{% endif %}" href="passwordLab"><i class="fas fa-flask"></i>password lab</a>
        <a class="nav_menuItem {% if request.path == '/app/profile' %}active{% endif %}" href="profile"><i class="far fa-user-circle"></i>profile</a>
        <a class="nav_menuItem {% if request.path == '/app/passwords' %}active{% endif %}" href="passwords"><i class="fas fa-key"></i>passwords</a>
        <a class="nav_menuItem {% if request.path == '/app/secure_note' %}active{% endif %}" href="secure_note"><i class="far fa-sticky-note"></i>secure note</a>
        <a class="nav_menuItem {% if request.path == '/app/sharepass' %}active{% endif %}" href="sharepass"><i class="fas fa-share"></i>sharepass</a>
        <a class="nav_menuItem" href="download_uf"><i class="fas fa-file-download"></i>download userfile</a>
        <a class="nav_menuItem" href="#" id="logout"><i class="fas fa-sign-out-alt"></i>logout</a>
      </div>
    </nav>
    <main>
      {% block main %}
      
      {% endblock main %}

      <!-- Logout part -->
      <div class="overlay_logout hidden" id="overlay_logout">
        <div class="questionBox">
          <div>
            <h2>Have you downloaded your userfile?</h2>
            <p>If you wish to save the modifications made during this session, download your userfile.</p>
          </div>
          <div class="logout_btns">
            <div class="logoutBtn" id="yesBtn">Yes</div>
            <div class="logoutBtn" id="noBtn">No</div>
          </div>
        </div>
      </div>

    </main>
    {% block script %} 

    {% endblock script %}
    <script src="{% static 'js/app_base.js' %}"></script>
  </body>
</html>
