{% extends 'app_base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/app_home.css' %}">
{% endblock css %}

{% block main %}
<div class="Box">
    <h1>Here is a quick guide to keep you on track to use passwordVault.</h1>
    <div class="guideBox">
        <h2 class="guideTitle">Goto passwordLab</h2>
        <p class="guideDesc">To make strong passwords.</p>
    </div>
    <div class="guideBox">
        <h2 class="guideTitle">Goto profile</h2>
        <p class="guideDesc">To add contacts or to change primary email.</p>
    </div>
    <div class="guideBox">
        <h2 class="guideTitle">Goto passwords</h2>
        <p class="guideDesc">To store, update, and delete passwords.</p>
    </div>
    <div class="guideBox">
        <h2 class="guideTitle">Goto secure notes</h2>
        <p class="guideDesc">To add notes</p>
    </div>
    <div class="guideBox">
        <h2 class="guideTitle">Goto share pass</h2>
        <p class="guideDesc">To share passwords with your contacts</p>
    </div>
</div>
{% endblock main %}

{% block script %}
<script src="{% static 'js/app_home.js' %}"></script>
{% endblock script %}