.Box {
  width: 100%;
  height: 90vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: #fff;
}

.guideBox {
  padding: 40px;
  width: 400px;
  background-color: #dadada;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
}

.guideBox:hover {
  width: 500px;
  color: #fff;
  background-color: rgb(156, 35, 226);
  transition: all 180ms ease-in-out;
}

p {
  font-size: 20px;
}
