{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=1, initial-scale=1.0" />
    <title>{% block title %} {% endblock title %} | PASSWORD VAULT</title>
    <link rel="stylesheet" href="{% static 'css/all.css' %}" />
    
    {% block css %} {% endblock css %}
    
  </head>
  <body>
    <!-- navbar -->
    <nav>
      <div class="container">
        <h2 class="logo" onclick="window.location = '/';">Password VAULT</h2>
        <div class="menu">
          <a href="/contact" class="menu-item {% if request.path == '/contact/' %}active{% endif %}"><h2>CONTACT</h2></a>
          <a href="/downloads" class="menu-item {% if request.path == '/downloads/' %}active{% endif %}"><h2>DOWNLOADS</h2></a>
          <a href="/guide" class="menu-item {% if request.path == '/guide/' %}active{% endif %}"><h2>GUIDE</h2></a>
          <a href="/share-pass" class="menu-item {% if request.path == '/share-pass/' %}active{% endif %}"><h2>SHARE-PASS</h2></a>
          <a href="/account" class="menu-item {% if request.path == '/account/' %}active{% endif %}"><h2>LOGIN/REGISTER</h2></a>
        </div>
      </div>
    </nav>
    <main>{% block main %} {% endblock main %}</main>
  </body>
  {% block script %} {% endblock script %}
</html>
