{% extends 'base.html' %} {% load static %} 
{% block title %}
  SHARE-PASS
{% endblock title %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/share-pass.css' %}" />
{% endblock css %}

{% block main %}

<div class="box">
  <form method="post" id="sharepassForm">
    {% csrf_token %}
    <h2 class="title">Paste your encrypted text here</h2>
    <textarea placeholder="ENCRYPTED TEXT HERE" id="textArea_input"></textarea>
    <input type="text" name="key" id="key" autocomplete="off" placeholder="Enter your shared key" />
    <select id="enc_category" name="enc_category">
      <option value="UE">User encryption</option>
      <option value="SE">Server encryption</option>
    </select>
    <input type="email" name="email" id="contact" autocomplete="off" placeholder="Enter your email" />
    <textarea placeholder="Output" id="textArea_output"></textarea>
    <input type="submit" value="Get Password" class="btn">
  </form>
</div>

{% endblock main %}
{% block script %}
<script src="{% static 'js/share-pass.js' %}"></script>
{% endblock script %}
