main {
  display: flex;
  justify-content: center;
}
.box{
  margin: auto;
}
#sharepassForm {
  width: 1000px;
  padding: 20px;
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  text-align: center;
  background: rgba(49, 51, 59, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

input, select, textarea {
  padding: 10px;
  font-size: 20px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  background: #3b3b3b;
  color: antiquewhite;
  height: 50px;
}

textarea {
  resize: none;
  width: 100%;
  height: 240px;
}

.btn {
  border-radius: 5px;
  background-color: var(--btn-color);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--btn-hover-color);
}

.title {
  text-align: center;
  color: var(--nav-color);
  font-size: 2.4rem;
  letter-spacing: 3px;
}
